<div class="tags">
  <div class="tags__track">
    <div class="tags__track-wrap">
      <span class="tags__item tags__item--dark">the adventures</span>
      <span class="tags__item tags__item--green">Animated</span>
      <span class="tags__item tags__item--light-green">Sitcom</span>
    </div>
    <div class="tags__track-wrap">
      <span class="tags__item tags__item--green">Justin Roiland</span>
      <span class="tags__item tags__item--dark superpower">superpower</span>
    </div>
    <div class="tags__track-wrap">
      <span class="tags__item tags__item--light-green">creative</span>
      <span class="tags__item tags__item--green">Amazing!</span>
      <span class="tags__item tags__item--dark">Rick and Morty</span>
      <span class="tags__item tags__item--light-green">comics</span>
    </div>
    <span class="tags__item tags__item--dark follow">follows</span>
    <div class="tags__track-wrap">
      <span class="tags__item tags__item--light-green">characters</span>
      <span class="tags__item tags__item--green">Whoa</span>
    </div>
  </div>
</div>
