<section class="character">
  <div class="tags">
    <span class="tags__item tags__item--dark">the adventures</span>
    <span class="tags__item tags__item--green">Animated</span>
    <span class="tags__item tags__item--light-green">Sitcom</span>
    <span class="tags__item tags__item--green">Justin Roiland</span>
    <span class="tags__item tags__item--dark">superpower</span>
    <span class="tags__item tags__item--light-green">creative</span>
    <span class="tags__item tags__item--green">Amazing!</span>
    <span class="tags__item tags__item--dark">Rick and Morty</span>
    <span class="tags__item tags__item--light-green">comics</span>
    <span class="tags__item tags__item--dark">follows</span>
    <span class="tags__item tags__item--light-green">characters</span>
    <span class="tags__item tags__item--green">Whoa</span>
    <!-- <span class="tags__item tags__item--dark duplicate">the adventures</span>
      <span class="tags__item tags__item--green duplicate">Animated</span>
      <span class="tags__item tags__item--light-green duplicate">Sitcom</span>
      <span class="tags__item tags__item--green duplicate">Justin Roiland</span>
      <span class="tags__item tags__item--dark duplicate">superpower</span>
      <span class="tags__item tags__item--light-green duplicate">creative</span>
      <span class="tags__item tags__item--green duplicate">Amazing!</span>
      <span class="tags__item tags__item--dark duplicate">Rick and Morty</span>
      <span class="tags__item tags__item--light-green duplicate">comics</span>
      <span class="tags__item tags__item--dark duplicate">follows</span>
      <span class="tags__item tags__item--light-green duplicate"
        >characters</span
      >
      <span class="tags__item tags__item--green duplicate">Whoa</span> -->
  </div>
  <div class="container">
    <div class="character__filters">
      <div class="character__filters-group">
        <label class="character__filters-label" for="name">Name</label>
        <div class="character__filters-input-wrapper">
          <input
            type="text"
            id="name"
            class="character__filters-input"
            placeholder="Enter name"
          />
          <button class="character__filters-search-btn" id="search-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="18"
              height="18"
              viewBox="0 0 18 18"
              fill="none"
            >
              <path
                d="M8.25 14.25C11.5637 14.25 14.25 11.5637 14.25 8.25C14.25 4.93629 11.5637 2.25 8.25 2.25C4.93629 2.25 2.25 4.93629 2.25 8.25C2.25 11.5637 4.93629 14.25 8.25 14.25Z"
                stroke="#111111"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M15.75 15.75L12.4875 12.4875"
                stroke="#111111"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>

      <div class="character__filters-group">
        <label class="character__filters-label" for="status">Status</label>
        <select id="status" class="character__filters-select">
          <option value="">All</option>
          <option value="alive">Alive</option>
          <option value="dead">Dead</option>
          <option value="unknown">Unknown</option>
        </select>
      </div>

      <div class="character__filters-group">
        <label class="character__filters-label" for="species">Species</label>
        <select id="species" class="character__filters-select">
          <option value="">All</option>
          <option value="human">Human</option>
          <option value="alien">Alien</option>
          <option value="mythological creature">Mythological Creature</option>
          <option value="humanoid">Humanoid</option>
          <option value="animal">Animal</option>
          <option value="cronenberg">Cronenberg</option>
          <option value="poopybutthole">Poopybutthole</option>
          <option value="robot">Robot</option>
          <option value="disease">Disease</option>
        </select>
      </div>

      <div class="character__filters-group">
        <label class="character__filters-label" for="type">Type</label>
        <select id="type" class="character__filters-select">
          <option value="">All</option>
          <option value="parasite">Parasite</option>
          <option value="human with antennae">Human with antennae</option>
          <option value="superhuman">Superhuman</option>
          <option value="genetic experiment">Genetic Experiment</option>
          <option value="fish-person">Fish-Person</option>
          <option value="cromulon">Cromulon</option>
        </select>
      </div>

      <div class="character__filters-group">
        <label class="character__filters-label" for="gender">Gender</label>
        <select id="gender" class="character__filters-select">
          <option value="">All</option>
          <option value="female">Female</option>
          <option value="male">Male</option>
          <option value="genderless">Genderless</option>
          <option value="unknown">Unknown</option>
        </select>
      </div>

      <ul id="character__list" class="character__list"></ul>
    </div>
  </div>
</section>
