<section class="characters">
    <div class="container">
        <div class="characters__flex-elements">
            <div class="characters__first">
                <h1 class="characters__title">Characters</h1>
                <div class="characters__div-text">
                    <p class="characters__description">Our character bios provide detailed information on every member
                        of the Smith family and beyond. Get to know these unforgettable characters on a whole new level
                        - start exploring now!</p>
                </div>
                <a class="characters__link-home" href="./index.html">Back home</a>
            </div>
            <div class="characters__second">
                <img class="characters__img" src="./img/main-img/rick-sanchez.webp" alt="rick-sanchez">
            </div>
        </div>
    </div>
</section>