<div class="backdrop">
  <div class="see-modal">
    <ul class="see-modal__list">
      <li class="see-modal__item">
        <img
          class="see-modal__image"
          src="./img/persons/morty-smith.webp"
          alt=""
        />
      </li>
      <li class="see-modal__item-1">
        <div class="see-modal__status-people">
          <p class="see-modal__parampampam">Status</p>
          <h3 class="see-modal__deteiling">Alive</h3>
        </div>
        <div class="see-modal__status-people">
          <p class="see-modal__parampampam">Species</p>
          <h3 class="see-modal__deteiling">Human</h3>
        </div>
        <div class="see-modal__status-people">
          <p class="see-modal__parampampam">Gender</p>
          <h3 class="see-modal__deteiling">Male</h3>
        </div>
        <div class="see-modal__status-people">
          <p class="see-modal__parampampam">Origin</p>
          <h3 class="see-modal__deteiling">Earth</h3>
        </div>
        <div class="see-modal__status-people">
          <p class="see-modal__parampampam">Location</p>
          <h3 class="see-modal__deteiling">Jerryboree</h3>
        </div>
        <div class="see-modal__status-people">
          <p class="see-modal__parampampam">Type</p>
          <h3 class="see-modal__deteiling">Human</h3>
        </div>
      </li>
      <li class="see-modal__item-2">
        <h1 class="see-modal__modal-title">Episodes</h1>
        <div class="see-modal__episodas">
          <h2 class="see-modal__season-name">Pilot</h2>
          <div class="see-modal__season-parameters">
            <div class="see-modal__help-div">
              <p class="see-modal__season">Season</p>
              <h3 class="see-modal__season-number">1</h3>
            </div>
            <div>
              <p class="see-modal__season-date">Air date</p>
              <h3 class="see-modal__season-date-number">December 2, 2013</h3>
            </div>
          </div>
        </div>

        <div class="see-modal__episodas">
          <h2 class="see-modal__season-name">Lawnmower Dog</h2>
          <div class="see-modal__season-parameters">
            <div class="see-modal__help-div">
              <p class="see-modal__season">Season</p>
              <h3 class="see-modal__season-number">1</h3>
            </div>
            <div>
              <p class="see-modal__season-date">Air date</p>
              <h3 class="see-modal__season-date-number">December 9, 2013</h3>
            </div>
          </div>
        </div>

        <div class="see-modal__episodas">
          <h2 class="see-modal__season-name">Anatomy Park</h2>
          <div class="see-modal__season-parameters">
            <div class="see-modal__help-div">
              <p class="see-modal__season">Season</p>
              <h3 class="see-modal__season-number">1</h3>
            </div>
            <div>
              <p class="see-modal__season-date">Air date</p>
              <h3 class="see-modal__season-date-number">December 16, 2013</h3>
            </div>
          </div>
        </div>

        <div class="see-modal__episodas">
          <h2 class="see-modal__season-name">M. Night Shaym-Aliens</h2>
          <div class="see-modal__season-parameters">
            <div class="see-modal__help-div">
              <p class="see-modal__season">Season</p>
              <h3 class="see-modal__season-number">1</h3>
            </div>
            <div>
              <p class="see-modal__season-date">Air date</p>
              <h3 class="see-modal__season-date-number">January 13, 2014</h3>
            </div>
          </div>
        </div>

        <div class="see-modal__episodas">
          <h2 class="see-modal__season-name">Meeseeks and Destroy</h2>
          <div class="see-modal__season-parameters">
            <div class="see-modal__help-div">
              <p class="see-modal__season">Season</p>
              <h3 class="see-modal__season-number">1</h3>
            </div>
            <div>
              <p class="see-modal__season-date">Air date</p>
              <h3 class="see-modal__season-date-number">January 20, 2014</h3>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
