<div class="backdrop">
  <div class="see-modal">
    <ul>
      <li><img class="characher-image" src="#" alt="" /></li>
      <li>
        <div>
          <p>Status</p>
          <h3>Alive</h3>
        </div>
        <div>
          <p>Species</p>
          <h3>Human</h3>
        </div>
        <div>
          <h3>Male</h3>
        </div>
        <div>
          <p>Origin</p>
          <h3>Earth</h3>
        </div>
        <div>
          <p>Location</p>
          <h3>Jerryboree</h3>
        </div>
        <div>
          <p>Type</p>
          <h3>Human</h3>
        </div>
      </li>
      <li>
        <div>
          <h2></h2>
          <p>Season</p>
          <h3>1</h3>
          <p>Air date</p>
          <h3>December 2, 2013</h3>
        </div>

        <div>
          <h2>Lawnmower Dog</h2>
          <p>Season</p>
          <h3>1</h3>
          <p>Air date</p>
          <h3>December 9, 2013</h3>
        </div>

        <div>
          <h2>Anatomy Park</h2>
          <p>Season</p>
          <h3>1</h3>
          <p>Air date</p>
          <h3>December 16, 2013</h3>
        </div>

        <div>
          <h2>M. Night Shaym-Aliens</h2>
          <p>Season</p>
          <h3>1</h3>
          <p>Air date</p>
          <h3>January 13, 2014</h3>
        </div>

        <div>
          <h2>Meeseeks and Destroy</h2>
          <p>Season</p>
          <h3>1</h3>
          <p>Air date</p>
          <h3>January 20, 2014</h3>
        </div>
      </li>
    </ul>
  </div>
</div>