<section class="episodesHero">
    <div class="container">
        <div class="episodesHero__flex-elements">
            <div class="episodesHero__first">
                <h1 class="episodesHero__title">Episodes</h1>
                    <p class="episodesHero__description">With a comprehensive guide to every episode, you can relive your
                        favorite moments and discover new ones. From the bizarre and hilarious to the emotional and
                        thought-provoking, our episode guide covers it all. </p>
                <a class="episodesHero__link-home" href="./index.html">Back home</a>
            </div>
            <div class="episodesHero__second">
                <img class="episodesHero__img" src="./img/main-img/family.webp" alt="rick-sanchez">
            </div>
        </div>
    </div>
</section>