<!-- <div class="episodes-modal">
           <button class="episodes-modal__close-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
  <path d="M16.5 5.5L5.5 16.5" stroke="#A1D737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M5.5 5.5L16.5 16.5" stroke="#A1D737" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
        </button>
  <div class="episodes-modal__fake-container">
    <h2 class="episodes-modal__series-name">Pilot</h2>
    <div class="episodes-modal__series">
      <div class="episodes-modal__id-container">
        <p class="episodes-modal__series-id">Id</p>
        <h3 class="episodes-modal__series-name-id">Episode id</h3>
      </div>
      <div class="episodes-modal__date-container">
        <p class="episodes-modal__series-air-date">Air date</p>
        <h3 class="episodes-modal__series-date">December 2, 2013</h3>
      </div>
    </div>

    <h2 class="episodes-modal__characters">Characters</h2>

    <div class="episodes-modal__major-container">
      <h3 class="episodes-modal__major-characters">Major Characters</h3>

      <div class="episodes-modal__characters-container">
        <div class="episodes-modal__characters-card">
          <img
            class="episodes-modal__characters-image"
            src="./partials/images/2b4f2e9b7879f28a35847b74a61bc58675ad15db.png"
            alt="episodes-modal__characters-image"
          />
          <h3 class="episodes-modal__characters-name">Rick</h3>
        </div>
        <div class="episodes-modal__characters-card">
          <img
            class="episodes-modal__characters-image"
            src="./partials/images/65cb73ed1f314c93b592645bfa2c5a3c86468afa (1).png"
            alt="episodes-modal__characters-image"
          />
          <h3 class="episodes-modal__characters-name">Morty</h3>
        </div>
        <div class="episodes-modal__characters-card">
          <img
            class="episodes-modal__characters-image"
            src="./partials/images/e84132cdbd34fb62eb95bc07d806aff294f1b10c.png"
            alt="episodes-modal__characters-image"
          />
          <h3 class="episodes-modal__characters-name">rick</h3>
        </div>
        <div class="episodes-modal__characters-card">
          <img
            class="episodes-modal__characters-image"
            src="./partials/images/fb6248005616ec52f7bfcc9dbc598280b8577972.png"
            alt="episodes-modal__characters-image"
          />
          <h3 class="episodes-modal__characters-name">morty</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->
