<section class="explore">
    <div class="container">
        <h2 class="explore__text">Ready to <span class="explore__span">explore</span> the crazy world of Rick and Morty?
        </h2>
        <div class="slide">
            <div class="explore__box">
                <img class="explore__img" src="./img/explore-img/family-1.png" alt="">
                <img class="explore__img" src="./img/explore-img/family-2.webp" alt="">
                <img class="explore__img" src="./img/explore-img/family-3.webp" alt="">
                <img class="explore__img" src="./img/explore-img/family-4.webp" alt="">
                <img class="explore__img" src="./img/explore-img/family-5.webp" alt="">
            </div>
        </div>
        <div class="explore__button__box">
            <a class="explore__button">Episodes</a>
        </div>
    </div>
</section>