.character {
  position: relative;
  background: white;
  padding-bottom: 80px;

  &__filter-container {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    align-items: center;
    background: #ffffff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }

  &__search-button {
    background: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    right: 24px;
    top: 16px;
  }

  &__item img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* зберігає пропорції та обрізає зайве */
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}



  &__search-box {
    border-radius: 100px;
border: 1.5px solid #111;
background: #DAF836;
padding: 16px 24px; 
position: relative;
width: 233px;
box-sizing: border-box;
  }

  &__input {
    background: transparent;
    border: none;
    width: 140px;
    margin-right: 72px;
    box-sizing: border-box;
    
  }

  &__title {
    color: #111;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 128.571% */
margin-bottom: 8px;
  }

    &__filter-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  &__filter-container > div {
    display: flex;
    flex-direction: column;
  }

  select {
     border-radius: 100px;
border: 1.5px solid #111;
padding: 16px 24px;
cursor: pointer;
  }

  select:focus {
    outline: none;
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 61px;
    justify-content: center;
  }

  &__img-list {
    width: 17.375rem;
    outline: solid greenyellow 0.125rem;
    border-radius: 1.4375rem;
  }

  li {
    width: 17.375rem;
  }

  &__location {
    margin-bottom: 33px;
  }

  &__name {
    color: #111;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
    /* 112.5% */
    margin-top: 1.1875rem;
    margin-bottom: 0.5625rem;
  }

  &__span {
    color: rgba(17, 17, 17, 0.5);
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    /* 128.571% */
  }

  &__info {
    color: #111;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    margin-bottom: 4px;
  }

  &__load-more {
    padding: 12px 24px;
     border-radius: 1000px;
background: #A1D737;
 color: #0D171D;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 128.571% */
border: none;
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 76px;
  }

  &__info-l {
    margin-top: 8px;
  }
}
