.episodes-modal {
  background-color: #0f1626;
  border-radius: 20px;
  padding: 32px;
  color: white;
  max-width: 673px;
  width: 100%;
  height: auto;
  margin: 40px auto;
  position: relative;
  box-sizing: border-box;

  @media screen and (max-width: 320px) {
    padding: 30px 16px;
    max-width: 100%;
    margin: 20px auto;
  }

  &__fake-container {
    border-radius: 20px;
    background-color: #0f1626;
    padding: 32px;
    border: 2px solid #9eff00;

    @media screen and (max-width: 768px) {
      padding: 24px;
    }

    @media screen and (max-width: 320px) {
      padding: 20px;
    }
  }
  &__series-name {
    color: #fafafa;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;

    @media screen and (max-width: 768px) {
      font-size: 20px;
      line-height: 26px;
    }

    @media screen and (max-width: 320px) {
      line-height: 24px;
      font-size: 18px;
    }
  }
  &__series {
    display: flex;
    margin-bottom: 32px;
  }
  &__series-id {
    color: rgba(250, 250, 250, 0.5);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  &__series-name-id {
    color: #fafafa;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @media screen and (max-width: 320px) {
      font-size: 14px;
    }
  }
  &__series-air-date {
    color: rgba(250, 250, 250, 0.5);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }
  &__series-date {
    color: #fafafa;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    @media screen and (max-width: 320px) {
      font-size: 14px;
    }
  }
  &__characters {
    color: #fafafa;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 16px;

    @media screen and (max-width: 320px) {
      font-size: 18px;
      line-height: 24px;
    }
  }
  &__major-characters {
    color: rgba(250, 250, 250, 0.5);
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 8px;

    @media screen and (max-width: 320px) {
      display: none;
    }
  }
  &__characters-container {
    display: flex;

    @media screen and (max-width: 768px) {
      gap: 20px;

      flex-wrap: wrap;
    }
    @media screen and (max-width: 450px) {
      gap: 12px;
    }
    @media screen and (min-width: 450px) {
      gap: 8px;
    }
    @media screen and (max-width: 320px) {
      gap: 8px;
    }
  }
  &__characters-card {
    display: flex;
    align-items: center;
  }
  &__characters-name {
    color: #fafafa;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding-right: 32px;

    @media screen and (max-width: 320px) {
      font-size: 14px;
      padding-right: 8px;
    }
  }

  &__id-container {
    padding-right: 32px;

    @media screen and (max-width: 768px) {
      padding-right: 16px;
    }

    @media screen and (max-width: 320px) {
      padding-right: 8px;
    }
  }

  &__characters-image {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 4px;
    border-radius: 8px;

    @media screen and (max-width: 768px) {
      width: 52px;
      height: 52px;
      margin-right: 10px;
    }

    @media screen and (max-width: 320px) {
      width: 48px;
      height: 48px;
      margin-right: 8px;
    }
  }

  &__close-button {
    position: absolute;
    top: 12px;
    right: 12px;
    background: transparent;
    border: none;
    fill: #9eff00;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 320px) {
      top: 8px;
      right: 8px;
    }
    &:hover {
      fill: #caff33;
    }
  }

  
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-episodes {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}
.no-scroll {
  overflow: hidden;
}
