.explore {
    border-radius: 100px;
    background: #0D171D;
    width: 1442px;
    height: 744px;
    flex-shrink: 0;
    overflow: hidden;
    margin: auto;

    @media screen and (max-width: 1200px) {
        width: 768px;
        height: 747px;
        border-radius: 80px;
    }

    @media screen and (max-width: 768px) {
        width: 375px;
        border-radius: 50px;
    }

    &__text {
        max-width: 610px;
        color: #FAFAFA;
        font-size: 44px;
        font-style: normal;
        font-weight: 600;
        line-height: 48px;
        /* 109.091% */
        padding-top: 100px;

        @media screen and (max-width: 786px) {
            padding-top: 80px;
            color: #FAFAFA;
            font-family: Montserrat;
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: 32px;
            /* 114.286% */
            max-width: 306px;
        }
    }

    &__span {
        background-color: #A1D737;
        border-radius: 40;
        padding: 2px 5px;
    }

    &__button {
        display: inline-flex;
        padding: 12px 24px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 1000px;
        background: #A1D737;
        color: #0D171D;
        font-family: "Montserrat";
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        /* 128.571% */
        border: none;
        @media screen and (max-width: 1200px) {
            margin-right: 42px;
        }
    }

    &__button__box {
        display: flex;
        justify-content: end;
    }

    &__box {
        display: flex;
        align-items: center;
        gap: 24px;
        justify-content: center;
        margin: 64px 0 32px 0;
    }

    &__img {
        display: flex;
        width: 278px;
        height: 314px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 18px;
        border: 3px solid #A1D737;
        background: #0D171D;
    }

    &__img:last-child {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

    &__img:first-child {
        @media screen and (max-width: 1200px) {
            display: none;
        }
    }

}