.header {
    padding-top: 24px;
    background: #0D171D;

    &__flex-elements {
        display: flex;
    }

    &__burger {
        background: transparent;
        border: none;
        cursor: pointer;
        margin-right: 20px;

        @media screen and (min-width: 768px) {
            display: none;
        }

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }

    &__list {
        display: flex;

        @media screen and (max-width: 400px) {
            display: none;
    position: absolute; // ← відв’язуємо від потоку
    top: 10px;
    right: 0;
    background-color: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    z-index: 10;
    flex-direction: column;
    gap: 10px;

    &.active {
      display: flex;
    }
        }

        @media screen and (min-width: 768px) {}

        @media screen and (min-width: 1200px) {}
    }

    &__button {
        background-color: #A1D737;
        color: black;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;
        border-radius: 1000px;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 24px;
            padding-right: 24px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 24px;
            padding-right: 24px;

        }

    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__text {
        color: white;
        font-family: Montserrat;

    }

    &__button-second {
        background: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid rgba(250, 250, 250, 0.30);
        border-radius: 1000px;
        color: white;
        font-family: Montserrat;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;

        @media screen and (min-width: 768px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 18px;
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 24px;
            padding-right: 24px;

        }
    }

    &__button-serch {
        background: transparent;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 18px;
        padding-right: 18px;
        border-radius: 1000px;
        border: 1px solid rgba(250, 250, 250, 0.30);
        color: white;
        text-align: center;
        display: flex;
        align-items: center;
        /* ← Вирівнює по вертикалі */
        justify-content: center;
        gap: 8px;

        font-family: Montserrat;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;

        @media screen and (min-width: 768px) {
            margin-left: 340px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 12px;
            padding-bottom: 12px;
            padding-left: 24px;
            padding-right: 24px;
            margin-left: 820px;
        }
    }

}